header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    border-bottom: 4px solid $textBtn1;

    .logo {
        font-weight: 900;
    }

    nav {
        width: 60%;
        ul {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
    }
}