.recette {
    position: relative;
    padding: 0 2em;

    .container-recette {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .card-recette {
            width: 30%;
            margin-top: 1em;
            padding: 2em;
            border: 4px solid $textBtn1;

            .btn-recette {
                margin-top: 1em;
            }
        }
    }

    .container-sauce {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $textBtn1;
        padding: 1em 2em 3em 2em;
        color: $textBtn2;

        .close-sauce {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                cursor: pointer;
                font-size: 2em;
            }
        }

        .choix-sauce {
            select {
                padding: 1.2em;
                margin-right: 10px;
                font-family: $font;
            }
        }
    }
}