.recette {
    padding: 0 2em;
    .container-recette {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    
        .card-recette {
            width: 30%;
            margin-top: 1em;
            padding: 2em;
            border: 4px solid $textBtn1;

            .btn-recette {
                margin-top: 1em;
            }
        }
    }
}

